.guest {
  display: flex;
  justify-content: center;

  &-info{
  color: black;
  }

  &-header {
    font-size: 1.5em;
  }

  &-visit {
    width: 100%;
    border: $nav-bar solid 4px;
  }

  &-search {
    width: 100%;
    border: $nav-bar solid 4px;
  }

  &-manage {
    border: $nav-bar solid 4px;
  }

  &-total {
    font-size: 1em;
    text-align: center;
  }

  &-title {
  font-size: 1.2em;
  text-align: center;
  }

  &-book {
    border: $color-black solid 2px;
    list-style: none;
    text-align-last: justify;
  }
}



.previous-visits {
  background-color: lightcyan;
  margin: 2em;
}

.vacant-rooms {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  & > button {
    background-color: lightcyan;
  }
}

