.manage-main {
  height: 100vh;
  margin-top: 15vh;
}

.manage-search {
  
}

.search-form {
  width: 100%;
  text-align: end;
  margin: -2em;
  padding-top: 1em;
}

.manage-search {
  @extend .search-form;
}

.calendar {
  
}

.search-manage {
  
}

.search-button {
  
}

.manage-info {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  
}

.manage-info > h2 {
  width: 100vw;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.manage-revenue {
  width: 100%;
  height: 30vh;
  border: $color-black 3px solid;
  padding: .5em; 
  text-transform: uppercase;
  margin: 1em;
  text-align: center;
}

.manage-guest {
  @extend .manage-revenue;
}

.manage-bookings {
  @extend .manage-revenue;
}

.manage-occ {
  font-size: 3em;
}

.manage-rev {
  font-size: 3em;
}

.manage-title {
  font-size: 2em;
  padding: .5em;
}