.manage-main {
  height: 100vh;
  margin-top: 15vh;
}

.search-form {
  margin: -2em;
  padding-top: 1em;
  width: 100%;
  text-align: end;
}

.manage-search {
  @extend .search-form;
}

.manage-info {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

.manage-info > h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  width: 100vw;
}

.manage-revenue {
  text-align: center;
  @include manager-cards;
}

.manage-guest {
  @include manager-cards;
}

.manage-guest > h3 {
  @include search-cards;
}

.manage-bookings {
  @include manager-cards;
}

.manage-bookings > h3 {
  @include search-cards;
}

.manage-occ {
  font-size: 2em;
}

.manage-rev {
  font-size: 1.5em;
}

.manage-title {
  font-size: .8em;
  padding: .5em;
}