@media screen and (max-width: 768px) {
  html, body {
    font-size: 10px;
  }

  .signin-photo {
    visibility: hidden;
    position: fixed;
  }

  .login-header {
    font-size: 1.3rem;
  }

  .login-form {
    padding: .5rem 0;
  }

  .button-find {
    font-weight: 600;
    font-size: .5rem;
  }

  .button-info {
    @extend .button-find;
  } 
  
  .button-features {
    @extend .button-find;
  }
}
