//Color Variables
$color-white: #fff;
$color-mobile: #4CAF50;
$color-grey: #686868;
$color-black: #030c0a;
$color-cyan: #e0ffff;
$nav-bar: #47BDFF;

//Styling Variables

$border-blue: $nav-bar solid 4px;

//Mixins

@mixin manager-cards {
  border: $color-black 3px solid;
  height: 30vh;
  margin: 1em;
  padding: .5em; 
  text-transform: uppercase;
  width: 100%;
}

@mixin search-cards {
  padding-bottom: 2rem;
  font-size: .5rem;
}

//Animations

@mixin popin($deg, $time) {
  transform: rotate($deg);
  transition: $time ease-in-out;
}

@mixin button-movement {
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    &:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }
}

